body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    animation-name:anime2;
    animation-duration:5s;
    animation-delay:1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes anime2{
    from{background-color: lightcoral}
    to{background-color:antiquewhite;}
}
@keyframes anime2{
    0%{background-color: lightcoral;}
    25%{background-color: lightgoldenrodyellow;}
    50%{background-color:lightgray;}
    75%{background-color: bisque;}
    100%{background-color: antiquewhite;}

}
.daily{
    background-color:pink;
    position: relative;
    animation-name:anime;
    animation-timing-function:linear;
    animation-delay:1s;
    animation-duration: 5s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes anime{
    0%{background-color:pink;top:0px;left:0px;}
    25%{background:lightgrey;top:0px;left: 250px;}
    50%{background:antiquewhite;top:250px;left: 250px;}
    75%{background:lightgoldenrodyellow;top: 250px; left:0px;}
    100%{background:aquamarine;top:0px;left:0px;}
}
.school-button{
    background-color: blue;
    color: aliceblue;
    border: none;
    padding:25px;
    border-radius:5px;
    transition:background-color;
    transition-duration:3s ease;
}
.school-button:hover{
    background-color: blueviolet;
}
.wake:hover{
    color:darkorange;
    background-color:lightyellow;
    font-style:bold;
    transition:0.3s ease;
    border-radius: 50px;
    font-size: larger;
}
.wake2{
    width:25px;
    height: auto;
}
.wake2:hover{
    width: auto;
    height: 250px;
}
.lesson2{
    width: auto;
    height: 25px;
}
.lesson2:hover{
    max-width:250px;
    height:auto;
}
.lesson2{
    transition-property:width,height;
    transition-duration:2s;
    transition-timing-function:linear;
    transition:2s;

}
.home2{
    width:auto;
    max-height:20px;
}
.home2:hover{
    width:auto;
    max-height:250px;
}